.main-screen {
    margin-top: 20px;
    overflow: hidden;

    &__container {
        display: flex;

        .products-catalog {
            max-width: 357px;
            width: 100%;
            min-width: 357px;

            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                background: #282A30;
                position: relative;
                padding-left: 28px;
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0;

                .lines {
                    position: relative;
                    width: 19px;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 2px;
                    margin-right: 13px;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 19px;
                        height: 2px;
                        background-color: #fff;
                    }

                    &::before {
                        top: -7px;
                    }
            
                    &::after {
                        top: 8px;
                    }
                }
            }

            .menu-products {
                background-color: #fff;
                padding-bottom: 20px;

                li a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #282A30;
                    position: relative;
                    transition: all ease-in-out .4s;

                    &:hover {
                        color: #D7423B;
                    }
                }

                li.active>a {
                    color: #D7423B;
                }

                li {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 60px;
                }

                .parent {
                    position: relative;
                }

                .parent {
                    &:hover::after {
                        border: solid #282A30;
                        border-width: 0 1px 1px 0;
                        padding: 2px;
                        transform: rotate(135deg);
                    }

                    &:hover>.nav-child,
                    .nav-child>.parent:hover>.nav-child {
                        visibility: visible;
                        opacity: 1;
                        top: 0;
                        overflow: visible;
                    }
                }

                &>li:not(:last-child) {
                    border-bottom: 1px solid #F3F3F3;
                }

                .parent::after {
                    content: "";
                    position: absolute;
                    border: solid #B6B6B6;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 2px;
                    transform: rotate(315deg);
                    transition: all ease-in-out .4s;
                    right: 26px;
                    top: calc(50% - 4px);
                }

                &>.parent>.nav-child,
                .nav-child>.parent>.nav-child {
                    position: absolute;
                    background: #fff;
                    box-shadow: 5px -3px 26px 4px rgba(0, 0, 0, .05);
                    min-width: 315px;
                    width: 100%;
                    left: 100%;
                    transition: all ease-in-out .4s;
                    opacity: 0;
                    visibility: hidden;
                    padding-left: 25px;
                    z-index: 11;

                    li {
                        padding-left: 0;
                        padding-right: 26px;
                    }
                }
            }
        }
    }

    &__slider {
        margin-left: 20px;
        position: relative;

        .swiper-slide {
            background: #D7423B;
        }

        .main-slider {
            &__item {
                width: 1343px;
                height: 612px;
                padding-top: 131px;
                padding-left: 79px;
                position: relative;
                z-index: 1;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                }

                &::before {
                    background: url('../images/main/slide_lines.svg') no-repeat center/cover;
                    width: 760px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    z-index: -1;
                }

                &::after {
                    background: url('../images/main/slide-image_1.png') no-repeat center/cover;
                    width: 641px;
                    height: 428px;
                    top: 132px;
                    right: 99px;
                    z-index: -1;
                }
            }

            &__text {
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;
                opacity: 0.92;
                margin-top: 0;
                margin-bottom: 0;
            }

            &__title {
                margin-top: 37px;
                margin-bottom: 37px;
                font-weight: 600;
                font-size: 70.597px;
                line-height: 133.5%;
                color: #FFFFFF;

                &--accent {
                    display: block;
                    font-weight: 800;
                    font-size: 124.302px;
                    line-height: 152px;
                    text-shadow: 0px 5.13964px 14.537px rgba(40, 42, 48, 0.19);
                }
            }

            &__btn-more {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                text-decoration: none;
                padding: 14px 46px;
                transition: all ease-in-out .4s;

                &:hover {
                    background-color: #282A30;
                }
            }
        }

        .main-slider__pagin {
            min-width: 120px;
            width: fit-content;
            left: 1000px;
            bottom: 35px;

            .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.29);
                width: 12px;
                height: 12px;
            }

            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #fff;
            }
        }
    }
}

.choose-category {
    margin-top: 100px;
    margin-bottom: 142px;

    &__title {
        @include titleWithLine;
    }

    &__container {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        max-width: 364px;
        width: 100%;
        height: 256px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: #fff;
        flex-direction: column;
        margin-bottom: 20px;
        padding-top: 10px;
        transition: all ease-in-out .4s;

        .choose-category__label {
            background: linear-gradient(225deg, transparent 30px, #282A30 0);
            width: 100%;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            padding: 12px 0;
            transition: all ease-in-out .4s;
        }

        &.double-images-item {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background: url('../images/main/cat-rigging-small.png') no-repeat center/cover;
                width: 145px;
                height: 145px;
                right: 55px;
                top: 15px;
            }
        }

        &:hover {
            .choose-category__label {
                background-color: #282A30;
            }
        }
    }
}

.popular {
    background: #fff;
    padding-top: 58px;
    padding-bottom: 100px;
    overflow: hidden;

    &__title {
        @include titleWithLine;
    }

    &__slider {
        padding-top: 39px;
        padding-bottom: 32px;
    }

    .popular-slider.swiper-container {
        overflow: visible;
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 5px 13px 40px rgba(0, 0, 0,  .05);
        position: relative;
        max-width: 357px;
        height: 420px;
        width: 100%;
        padding-top: 20px;
        cursor: pointer;

        &__img {
            img {
                width: 100%;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            padding-left: 34px;
            padding-bottom: 30px;
        }

        &__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #2B2D33;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__size {
            font-weight: 400;
        }

        &__price {
            margin-top: 46px;
            margin-bottom: 29px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #2B2D33;
        }

        &__label {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #2B2D33;
            position: relative;
            padding-left: 22px;

            &::before {
                content: "";
                position: absolute;
                background: url('../images/icons/checkbox.svg') no-repeat center/cover;
                width: 9px;
                height: 11px;
                left: 0;
            }
        }

        &__show {
            width: 46px;
            height: 46px;
            color: #fff;
            background: #282A30;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all ease-in-out .4s;
        }

        &:hover {
            .popular-item__show {
                opacity: 1;
            }
        }
    }

    &__show-all {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #282A30;
        border: 1px solid #282A30;
        text-decoration: none;
        padding: 13px;
        transition: all ease-in-out .4s;
        background-color: transparent;
        margin-left: auto;
        max-width: 168px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #fff;
            border: 1px solid #fff;
            background-color: #282A30;
        }
    }
}

.info-block {
    background: #282A30;
    padding-top: 104px;
    padding-bottom: 110px;
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        color: #FFFFFF;
        margin-top: 0;
        margin-block-start: 0;
        max-width: 411px;
        width: 100%;
        padding-bottom: 51px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-bottom: 3px solid #D7423B;
            width: 168px;
            height: 3px;
            bottom: 0;
            left: 0;
        }
    }

    &__items {
        display: flex;
        column-gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 238px;
        max-width: 238px;
        width: 100%;
        height: 339px;
        padding-top: 54px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 43px;
        background: linear-gradient(125deg, transparent 30px,rgba(255, 255, 255, .04) 0);
        transition: all ease-in-out .4s;

        .icon {
            width: 41px;
            height: 41px;
            fill: #fff;
        }

        &:hover {
            background: linear-gradient(125deg, transparent 30px, rgba(255, 255, 255, .9) 0);

            .icon {
                fill: #282A30;
            }

            .info-block__title {
                color: #282A30;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 37px;
        margin-bottom: 14px;
    }

    &__descript {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #878787;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 195px;
    }
}

.video-block {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F8F8F8;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 653px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #2B2D33;
        margin-top: 0;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        color: #2B2D33;
        margin-top: 0;
    }

    &__text:not(:last-child) {
        margin-bottom: 24px;
    }

    &__video {
        position: relative;
        max-width: 744px;
        height: 382px;
        width: 100%;

        .video {
            max-width: 744px;
            height: 382px;
            width: 100%;
            position: relative;
            cursor: pointer;

            &__link {
                display: block;

                .video__media {
                    opacity: .52;
                    width: 100%;
                    height: 382px;
                }
            }

            &__button {
                position: absolute;
                width: 91px;
                height: 91px;
                background: rgba(255, 255, 255, .3);
                border-radius: 50%;
                border: none;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                left: calc(50% - 45px);
                top: calc(50% - 45px);
                cursor: pointer;
                display:  none;

                img {
                    padding-left: 7px;
                    position: relative;
                }
            }

            &:hover {
                .video__media {
                    opacity: 1;
                }
            }
        }

        .video--enabled {
            .video__button {
                display: flex;
            }
        }
    }
}

.catalog-info {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 140px; 

    &__container {
        display: flex;
        justify-content: space-between;

        .popular__show-all {
            margin-right: auto;
            margin-left: inherit;
            color: #fff;
            background: #282a30;

            &:hover {
                color: #282a30;
                background: #fff;
                border: 1px solid #282a30;
            }
        }
    }

    &__box:first-child {
        margin-right: 40px;
    }

    &__box:last-child {
        max-width: 616px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #2B2D33;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 150%;
        color: #2B2D33;
        max-width: 653px;

        &--margin {
            margin-top: 24px;
            margin-bottom: 40px;
        }

        &.text-margin {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &.bottom-margin {
            margin-bottom: 63px;
        }

        .accent {
            font-weight: 600;
        }
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #2B2D33;
    }

    .catalog-list-container {
        display: flex;
        justify-content: space-between;
    }

    &__list:first-child {
        margin-right: 40px;
    }

    &__item {
        font-size: 16px;
        line-height: 100%;
        color: #2B2D33;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url('../images/main/hook-item-list.svg');
            width: 14px;
            height: 22px;
            left: 0;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.form-block {
    position: relative;
    padding-top: 93px;
    padding-bottom: 95px;
    background: url('../images/main/form-bg-img.png') no-repeat -20px /contain, 
    url('../images/main/form-bg.png') center/cover no-repeat #fff;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
    }

    &::before {
        background: url('../images/main//lines-red-form.svg') no-repeat;
        width: 650px;
        height: 585px;
        top: 0;
        left: 176px;
    }

    &::after {
        background: url('../images/main/lines-black.svg') no-repeat;
        width: 356px;
        height: 585px;
        top: 0;
        right: 0;
    }

    .wrapper.wrapper-small {
        max-width: 1275px;
    }

    &__container {
        display: flex;
        align-items: center;

        .form-block__images {
            position: absolute;
            z-index: -1;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
        }

        &::before {
            background: url('../images/main/man.png') no-repeat;
            width: 462px;
            height: 628px;
            top: -43px;
        }

        &::after {
            background: url('../images/main/label.svg') no-repeat center/auto;
            width: 215px;
            height: 215px;
            width: 215px;
            height: 215px;
            bottom: 70px;
            left: 740px;
        }
    }

    .form-box {
        max-width: 486px;
        width: 100%;
        margin-left: auto;
    }

    .form-box__title {
        margin-top: 0;
        margin-bottom: 46px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    
    .form {
        .input {
            display: block;
            width: 100%;
            padding-left: 22px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 10px;
            border: 1px solid #fff;
        }

        .input {
            margin-bottom: 12px;
        }

        .input.textarea {
            margin-bottom: 34px;
            height: 120px;
            resize: none;
        }

        .input::placeholder {
            font-size: 14px;
            line-height: 100%;
            color: #959596;
        }

        .input:focus {
            outline-color: #282A30;
        }

        .popular__show-all {
            margin-left: inherit;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}

@media (max-width: 1600px) {
    .main-screen {
    
        &__slider {
            .main-slider {
                &__item {
                    width: 1187px;
                }
            }

            .main-slider__pagin {
                left: 800px;
            }
        }
    }
}

@media (max-width: 1450px) {
    .main-screen {
    
        &__slider {
            .main-slider {
                &__item {
                    width: 1040px;

                    &::after {
                        width: 440px;
                        height: 330px;
                        top: 200px;
                        right: 60px;
                    }
                }
            }

            .main-slider__pagin {
                left: 700px;
            }
        }
    }

    .choose-category {

        &__container {
            justify-content: center;
            column-gap: 50px;
        }
    }

    .info-block {
        &__container {
            flex-direction: column;
        }

        &__text {
            max-width: inherit;
        }
    }    
}

@media (max-width: 1300px) {
    .main-screen {
        
        &__container {
            display: flex;
    
            .products-catalog {
                .menu-products {
    
                    &>.parent>.nav-child,
                    .nav-child>.parent>.nav-child {
                        max-width: 250px;
                        min-width: inherit;
                    }
                }
            }
        }
        &__slider {
            .main-slider {
                &__item {
                    width: 890px;
                    padding-left: 40px;

                    &::after {
                        top: 235px;
                    }
                }
            }

            .main-slider__pagin {
                left: 600px;
            }
        }
    }
}

@media (max-width: 1150px) {
    .main-screen {
        &__slider {
            .main-slider {
                &__item {
                    width: 750px;
                    padding-left: 40px;

                    &::after {
                        width: 340px;
                        height: 230px;
                    }
                }

                &__title {
                    font-size: 60px;
                    line-height: 120%;
                }
            }

            .main-slider__pagin {
                left: 400px;
            }
        }
    }
    .info-block {
        &__items {
            max-width: 510px;
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 20px;
        }
    }    
}

@media (max-width: 980px) {
    .main-screen {
        &__slider {
            .main-slider {
                &__item {
                    width: 670px;
                    padding-left: 20px;
                    
                    &::before {
                        width: 750px;
                    }

                    &::after {
                        width: 240px;
                        height: 130px;
                        right: 170px;
                    }
                }

                &__text {
                    font-size: 18px;
                    line-height: 20px;
                }

                &__title {
                    font-size: 42px;
                    line-height: 100%;

                    &--accent {
                        font-size: 102px;
                        line-height: 150px;
                    }
                }
            }

            .main-slider__pagin {
                left: 280px;
            }
        }
    }
}

@media (max-width: 812px) {
    .main-screen {
        &__container {
            .products-catalog {
                display: none;
            }
        }
        &__slider {
            .main-slider {
                &__item {
                    width: 772px;
                    padding-left: 40px;
                    
                    &::before {
                        width: 760px;
                    }

                    &::after {
                        width: 340px;
                        height: 230px;
                        top: 170px;
                        right: 130px;
                    }
                }
            }

            .main-slider__pagin {
                left: 500px;
            }
        }
    }

    .choose-category {
        margin-top: 100px;
        
        &__title {
            &::after {
                max-width: 350px;
            }
        }
    }

    .popular {
        &__title {
            &::after {
                max-width: 350px;
            }
        }
    }
}

@media (max-width: 660px) {
    .main-screen {
        &__slider {
            .main-slider {
                &__item {
                    width: 630px;
                    padding-left: 20px;
                    
                    &::before {
                        width: 630px;
                    }

                    &::after {
                        top: 180px;
                        right: 20px;
                    }
                }
            }

            .main-slider__pagin {
                left: 300px;
            }
        }
    }
    .popular {
        &-slider {
            max-width: 360px;
        }
    }
}

@media (max-width: 525px) {
    .main-screen {
        &__slider {
            .main-slider {
                &__item {
                    width: 495px;
                    padding-left: 20px;
                    height: auto;
                    padding-bottom: 50px;
                    padding-top: 90px;
                    
                    &::before {
                        width: 495px;
                    }

                    &::after {
                        width: 240px;
                        height: 130px;
                        top: 160px;
                        right: 30px;
                    }
                }

                &__text {
                    font-size: 18px;
                    line-height: 20px;
                }

                &__title {
                    font-size: 32px;
                    line-height: 40px;

                    &--accent {
                        font-size: 82px;
                        line-height: 100px;                    
                    }
                }
            }

            .main-slider__pagin {
                left: 240px;
            }
        }
        .choose-category {
            margin-top: 50px;
            margin-bottom: 50px;
            
            &__title {
                @include MobileTitleWithLine;
            }
        }
    }
    .popular {
        padding-bottom: 50px;
        
        &__title {
            @include MobileTitleWithLine;
        }
    }
    .info-block {
        padding-top: 50px;
        padding-bottom: 50px;

        &__items {
            justify-content: center;
        }

        &__text {
            font-size: 21px;
            line-height: 100%;
        }
    }    
}

@media (max-width: 420px) {
    .main-screen {
        &__slider {
            .main-slider {
                &__item {
                    width: 395px;
                    padding-bottom: 85px;
                    padding-left: 10px;
                    
                    &::before {
                        width: 395px;
                    }

                    &::after {
                        width: 200px;
                        height: 140px;
                        top: 165px;
                        right: 30px;
                    }
                }

                &__text {
                    font-size: 16px;
                    line-height: 18px;
                }

                &__title {
                    font-size: 30px;
                    line-height: 34px;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    &--accent {
                        font-size: 70px;
                        line-height: 90px;            
                    }
                }
            }

            .main-slider__pagin {
                left: 140px;
            }
        }
        .choose-category {
            &__link {
                img {
                    width: 100%;
                }
            }
            &__title {
                &::after {
                    content: none;
                }
            }
        }
    }

    .popular {
        &__title {
            &::after {
                content: none;
            }
        }
    }
}