.main-screen {
    margin-top: 20px;
    overflow: hidden;

    &__container {
        display: flex;

        .products-catalog {
            max-width: 357px;
            width: 100%;
            min-width: 357px;

            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                background: #282A30;
                position: relative;
                padding-left: 28px;
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0;

                .lines {
                    position: relative;
                    width: 19px;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 2px;
                    margin-right: 13px;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 19px;
                        height: 2px;
                        background-color: #fff;
                    }

                    &::before {
                        top: -7px;
                    }
            
                    &::after {
                        top: 8px;
                    }
                }
            }

            .menu-products {
                background-color: #fff;
                padding-bottom: 20px;

                li a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #282A30;
                    position: relative;
                }

                li {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 60px;
                }

                .parent {
                    position: relative;
                }

                .parent {
                    &:hover::after {
                        border: solid #282A30;
                        border-width: 0 1px 1px 0;
                        padding: 2px;
                        transform: rotate(135deg);
                    }

                    &:hover>.nav-child,
                    .nav-child>.parent:hover>.nav-child {
                        visibility: visible;
                        opacity: 1;
                        top: 0;
                        overflow: visible;
                    }
                }

                &>li:not(:last-child) {
                    border-bottom: 1px solid #F3F3F3;
                }

                .parent::after {
                    content: "";
                    position: absolute;
                    border: solid #B6B6B6;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 2px;
                    transform: rotate(315deg);
                    transition: all ease-in-out .4s;
                    right: 26px;
                    top: calc(50% - 4px);
                }

                &>.parent>.nav-child,
                .nav-child>.parent>.nav-child {
                    position: absolute;
                    background: #fff;
                    box-shadow: 5px -3px 26px 4px rgba(0, 0, 0, .05);
                    min-width: 315px;
                    width: 100%;
                    left: 100%;
                    transition: all ease-in-out .4s;
                    opacity: 0;
                    visibility: hidden;
                    padding-left: 25px;
                    z-index: 11;

                    li {
                        padding-left: 0;
                        padding-right: 26px;
                    }
                }
            }
        }
    }

    &__slider {
        margin-left: 20px;
        position: relative;

        .swiper-slide {
            background: #D7423B;
        }

        .main-slider {
            &__item {
                width: 1343px;
                height: 612px;
                padding-top: 131px;
                padding-left: 79px;
                position: relative;
                z-index: 1;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                }

                &::before {
                    background: url('../images/main/slide_lines.svg') no-repeat center/cover;
                    width: 760px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    z-index: -1;
                }

                &::after {
                    background: url('../images/main/slide-image_1.png') no-repeat center/cover;
                    width: 641px;
                    height: 428px;
                    top: 132px;
                    right: 99px;
                    z-index: -1;
                }
            }

            &__text {
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;
                opacity: 0.92;
                margin-top: 0;
                margin-bottom: 0;
            }

            &__title {
                margin-top: 37px;
                margin-bottom: 37px;
                font-weight: 600;
                font-size: 70.597px;
                line-height: 133.5%;
                color: #FFFFFF;

                &--accent {
                    display: block;
                    font-weight: 800;
                    font-size: 124.302px;
                    line-height: 152px;
                    text-shadow: 0px 5.13964px 14.537px rgba(40, 42, 48, 0.19);
                }
            }

            &__btn-more {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                text-decoration: none;
                padding: 14px 46px;
                transition: all ease-in-out .4s;

                &:hover {
                    background-color: #282A30;
                }
            }
        }

        .main-slider__pagin {
            min-width: 120px;
            width: fit-content;
            left: 1000px;
            bottom: 35px;

            .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.29);
                width: 12px;
                height: 12px;
            }

            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #fff;
            }
        }
    }
}

.choose-category {
    margin-top: 100px;
    margin-bottom: 142px;

    &__title {
        @include titleWithLine;
    }

    &__container {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        max-width: 364px;
        width: 100%;
        height: 256px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: #fff;
        flex-direction: column;
        margin-bottom: 20px;
        padding-top: 10px;

        .choose-category__label {
            background: linear-gradient(225deg, transparent 30px, #282A30 0);
            width: 100%;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            padding: 12px 0;
            transition: all ease-in-out .4s;
        }

        &.double-images-item {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background: url('../images/main/cat-rigging-small.png') no-repeat center/cover;
                width: 145px;
                height: 145px;
                right: 55px;
                top: 15px;
            }
        }

        &:hover {
            .choose-category__label {
                background-color: #282A30;
            }
        }
    }
}

.popular {
    background: #fff;
    padding-top: 58px;
    padding-bottom: 100px;
    overflow: hidden;

    &__title {
        @include titleWithLine;
    }

    &__slider {
        padding-top: 39px;
        padding-bottom: 32px;
    }

    .popular-slider.swiper-container {
        overflow: visible;
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 5px 13px 40px rgba(0, 0, 0,  .05);
        position: relative;
        max-width: 357px;
        height: 420px;
        width: 100%;
        padding-top: 20px;
        cursor: pointer;

        &__img {
            img {
                width: 100%;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            padding-left: 34px;
            padding-bottom: 30px;
        }

        &__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #2B2D33;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__size {
            font-weight: 400;
        }

        &__price {
            margin-top: 46px;
            margin-bottom: 29px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #2B2D33;
        }

        &__label {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #2B2D33;
            position: relative;
            padding-left: 22px;

            &::before {
                content: "";
                position: absolute;
                background: url('../images/icons/checkbox.svg') no-repeat center/cover;
                width: 9px;
                height: 11px;
                left: 0;
            }
        }

        &__show {
            width: 46px;
            height: 46px;
            color: #fff;
            background: #282A30;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all ease-in-out .4s;
        }

        &:hover {
            .popular-item__show {
                opacity: 1;
            }
        }
    }

    &__show-all {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #282A30;
        border: 1px solid #282A30;
        text-decoration: none;
        padding: 13px;
        transition: all ease-in-out .4s;
        background-color: transparent;
        margin-left: auto;
        max-width: 168px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #fff;
            border: 1px solid #fff;
            background-color: #282A30;
        }
    }
}